<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiliSubDown</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css'%}">
</head>
<body>
    <h1>BiliSubtitleDownload</h1>
    
    <form method="post" action="/index/">
        {% csrf_token %}
        <label>B站cookie：</label>
        <input type="text" name="cookie" value={{obj.cookie}}>
        <input type="submit" value="submit">
    </form>

    <form method="post" action="/bvid/">
        {% csrf_token %}        
        <label>视频bvid：</label>
        <input type="text" name="bvid" value={{obj.bvid}}>
        <input type="submit" value="submit">
    </form>

    <span>视频集数: {{obj.pagelist}}</span>

    <form method="post" action="/page/">
        {% csrf_token %}        
        <label>选择集数page：</label>
        <input type="text" name="page" value={{obj.page|add:1}}>
        <input type="submit" value="submit">
    </form>

    <span>字幕列表: {{obj.sub_list}}</span>

    <form method="post" action="/sub/">
        {% csrf_token %}        
        <label>选择字幕序号：</label>
        <input type="text" name="sub" value={{obj.sub|add:1}}>
        <input type="submit" value="submit">
    </form>

    <span>字幕文本: <br> {{obj.text}}</span>    
    
</body>

<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</html>